﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Code Express</title>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
     <link href="@Url.Content("~/Content/css/estilo2.css")" rel="stylesheet">
    <script src="@Url.Content("http://code.jquery.com/jquery.js")"></script>
    <script src="@Url.Content("~/Content/js/jsbootstrap/jquery.js")"></script>
    <script src="@Url.Content("~/Content/js/jsbootstrap/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/css/select2.css")"  rel="stylesheet">
    <script src="@Url.Content("~/Content/js/jsSelect2/select2.js")"></script>
    <script src="@Url.Content("~/Content/js/jsSelect2/comboCancion.js")"></script>
    <script src="@Url.Content("~/Content/js/jsSelect2/comboArtista.js")"></script>
    <script src="@Url.Content("~/Content/js/borrarLink/borrarConLink.js")"></script>

 
</head>
<body>
   

    <div id="Contenido">
      
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <footer id="Pie">
            <p>Este es el pie va informacion</p>
        </footer>
</body>
</html>