 <!-- Tab bootstrap-->
              <nav class="navbar navbar-inverse" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                 
                  <a class="navbar-brand" href="#">Menu</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">

                       <!-- Combo para Album-->
                      
                      <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Album<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                         <li>@Html.ActionLink("Crear", "Create", "Album")</li>
                        <li>@Html.ActionLink("Listar", "Index", "Album")</li>
                      </ul>
                    </li>
                  </ul>
                     <!-- Combo para Cancion-->
                    <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Canci&oacute;n<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Crear", "Create", "Cancion")</li>
                        <li>@Html.ActionLink("Listar", "Index", "Cancion")</li>
                      </ul>
                    </li>
                  </ul>
                     <!-- Combo para Artista-->
                     <ul class="nav navbar-nav">
                      <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Artista<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                         <li>@Html.ActionLink("Crear", "Create", "Artista")</li>
                        <li>@Html.ActionLink("Listar", "Index", "Artista")</li>
                      </ul>
                    </li>
                  </ul>
                  
                 <!-- Boton para salir de LogIn -->
                 <button type="submit" class="btn btn-default submit">LogOut</button>
                
                
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
      <!-- Tab bootstrap-->