@model MVCDisco.Models.Cancion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
   
 }

@Html.Partial("NavMenu_Partial")
<div id="contenedor_index">
    <div class="contenedor_izquierdo_cancion">
         <img class="cualquiera" src="@Url.Content("~/Content/imagen/hombre.jpg")" alt="hombre_con_computadora" width="310" height="559" />
    </div>

   <div class="contenedor_derecho_cancion">
            <h2>Create Canción</h2>
         
            @ViewBag.Mensaje
            @using (Html.BeginForm(null, null, FormMethod.Post, new { role="form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                
        
                  
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nombre)
                    </div>
                    <div  class="form-group">
                        @Html.TextBox("Nombre", null, new { @class = "form-control",placeholder="Ingrese Nombre"})
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Duracion)

                    </div>
                    <div class="editor-field">
                         @Html.TextBox("Duracion", null , new { @class = "form-control",placeholder="Ingrese Duracion"})
                        @Html.ValidationMessageFor(model => model.Duracion)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("IdAlbum", String.Empty)
                          @Html.ValidationMessageFor(model => model.IdAlbum)
           
                    </div>

                           <p>
                        <input type="submit" class="btn btn-default" value="Create" />
                    </p>
               
            }
        @Html.ActionLink("Back to List", "Index")
    </div>
   
</div>
