@model MVCDisco.Models.Cancion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cancion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCancion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCancion)
            @Html.ValidationMessageFor(model => model.IdCancion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duracion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duracion)
            @Html.ValidationMessageFor(model => model.Duracion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaCreacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaCreacion)
            @Html.ValidationMessageFor(model => model.FechaCreacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAlbum, "Album")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdAlbum", String.Empty)
            @Html.ValidationMessageFor(model => model.IdAlbum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuario, "Usuarios")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdUsuario", String.Empty)
            @Html.ValidationMessageFor(model => model.IdUsuario)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
