@model IEnumerable<MVCDisco.Models.Cancion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavMenu_Partial")

<div id="contenedor_index">

    <div class="contenedor_izquierdo_cancion">
         <img class="cualquiera" src="@Url.Content("~/Content/imagen/hombre.jpg")" alt="hombre_con_computadora" width="310" height="559" />
    </div>
   

    <div class="contenedor_derecho_cancion">
            <h2>Lista de Canciones</h2>

           
            @using (Html.BeginForm()){
               <div class="editor-label">
                        @Html.Label("Nombre de Album:")
                    </div>
                  <div class="editor-label">
                    <div class="contenedor_combo_cancion">
        
                         @Html.DropDownList("IdAlbum", String.Empty)
                    </div>

                        <input type="submit"  class="btn btn-default filtrar" value="Filtrar" />
                    </div>
            }
            <table  class="table table-hover album">
                <tr>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duracion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdAlbum)
                    </th>
                  
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                       
                         @{ var duracion = 0.0167 * @item.Duracion;
                            var texto = "desconocido";}
                             
                            @if(duracion == null){
                             @texto
                            }
                           else{
                            @Decimal.Round(Convert.ToDecimal(duracion), 2).ToString().Replace(",", ":")
                            
                        }
                    </td>
                    <td>
                       
                        @Html.DisplayFor(modelItem  => item.FechaCreacion)
                    </td>
                    <td>
                        
                        @if (item.IdAlbum == null)
                        {
                            @texto
                         }
                        else{
                        @Html.DisplayFor(modelItem => item.Album.Nombre)
                        }
                        
                    </td>
                   
                    <td>
                        @Html.ActionLink("Editar", "Edit", new {  id= item.IdCancion  }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCancion}, new {@class = "LinkBorrado"})
                       
                    </td>
                </tr>
            }

            </table>
            <div class="espacio_blanco"></div>
            <div class="espacio_blanco"></div>
        </div>
    
    </div>
