@model IEnumerable<MVCDisco.Models.Cancion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Canciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
   <div class="editor-label">
            @Html.Label("Nombre de Album:")
        </div>
      <div class="editor-label">
        <div class="contenedor_combo_cancion">
        
             @Html.DropDownList("IdAlbum", String.Empty)
        </div>

             @Html.ActionLink("Filtrar", "Create", new { /* id=item.PrimaryKey */ }) 
        </div>
<table  class="table table-hover album">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCancion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAlbum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCancion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAlbum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
