@model MVCDisco.Models.Album

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Anio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Anio)
            @Html.ValidationMessageFor(model => model.Anio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaCreación)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaCreación)
            @Html.ValidationMessageFor(model => model.FechaCreación)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUsuario)
            @Html.ValidationMessageFor(model => model.IdUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdArtista)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdArtista)
            @Html.ValidationMessageFor(model => model.IdArtista)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
