@model IEnumerable<MVCDisco.Models.Artista>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavMenu_Partial")
<div id="contenedor_index">

    <div class="contenedor_izquierdo_cancion">
         <img class="cualquiera" src="@Url.Content("~/Content/imagen/hombre.jpg")" alt="hombre_con_computadora" width="310" height="559" />
    </div>
   

    <div class="contenedor_derecho_cancion">
            <h2>Lista de Artistas</h2>

                     <table class="table table-hover album">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdArtista)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreCompleto)
                            </th>
                            <th></th>
                        </tr>

                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdArtista)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCompleto)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {  id=item.IdArtista }) |
                                @Html.ActionLink("Details", "Details", new {  id=item.IdArtista  }) |
                                @Html.ActionLink("Delete", "Delete", new {  id=item.IdArtista })
                            </td>
                        </tr>
                    }

                    </table>
                    <div class="espacio_blanco"></div>
                    <div class="espacio_blanco"></div>
        </div>
    </div>